body { padding: 0; margin: 0 }
#unity-container { position: fixed; width: 100%; height: 100vh; }
#unity-canvas { width: 100%; height: 100vh; background: #000000 }
#unity-loading-bar { position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); display: none }
#unity-logo { width: 260px; height: 260px; background: url('logo.png') no-repeat center }
#unity-progress-bar-empty { margin-left: auto; margin-right: auto; width: 256px; height: 30px; margin-top: 20px; background: url('progress-bar-empty-dark.png') no-repeat center }
#unity-progress-bar-full { width: 0%; height: 30px; margin-top: 20px; background: url('progress-bar-full-dark.png') no-repeat center }